/* 主色：#2fa0ff
辅色：#d5ecff
底色：#ededed
文字：#666
导航：#1a1a1a */

body {
  width: 100%;
  height: 100%;
  font-family: Microsoft YaHei,SimHei;
  font-weight: 300;
  color: #666;
  background-color: #fff;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 30px;
  text-transform: uppercase;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 1.6em;
}

a {
  color: #666;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #435b60;
}

hr {
  margin-top: 0;
  border-top: 3px solid #2fa0ff;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}