/* =========== 导航栏 ============ */

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
}

.navbar-brand {
  height: 42px;
  padding: 9px 15px;
  font-size: 18px;
  line-height: 1em;
}

.navbar-brand:focus {
  outline: 0;
}

.icon-bar {
  background: #fff;
}

.navbar-custom {
  background: rgba(26, 26, 26, .8);

}

.navbar-custom .nav li a {
  color: #c8c8c8;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom li.active a {
  color: #fff;
}

.navbar-custom li a:hover {
  background: none;
  color: #fff;
}

.navbar-custom li a:focus {
  outline: 0;
  background: rgba(255, 255, 255, .1);
}

.navbar-custom.top-nav-collapse {
  padding: 0;
  background: #1a1a1a;
}

.navbar-custom.top-nav-collapse li.active,
.navbar-custom.top-nav-collapse li:hover {
  background: rgba(255, 255, 255, .1);
}

/* =========== 轮播图 ============ */

.swiper-container {
  /* min-height: 30em; */
}

/* =========== commom ============ */

.home-section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  position: relative;
  z-index: 120;
}

.section-heading h2 {
  /* font-size: 40px; */
}

.bg-grey {
  background: #f8f8f8;
}

.bg-white {
  background: #fff;
}

/* =========== 问题困扰 ============ */

#problem {
  padding-bottom: 0;
}

#problem .team {
  padding-left: 65px;
  padding-top: 25px;
  height: 325px;
  background: #fff;
}

#problem .team::after {
  position: absolute;
  z-index: 1;
  content: '';
  top: 0;
  left: 15px;
  width: 100px;
  height: 100%;
  border: 2px solid #2fa0ff;
}

#problem .item-right {
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 10px 0;
}

#problem .item-right p:nth-child(1) {
  /* margin: 0; */
}

#problem .people {
   margin-top: 115px; 
}

/* =========== 商城服务 ============ */

#service .item {
   padding: 25px 15px;
   margin: 15px 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

#service .item:hover {
  background: #d5ecff;
}

#service .item .avatar img {
  display: inline-block;
}

#service .title {
  font-weight: 700;
  font-size: 16px;
}

/* =========== 企业实力 ============ */

#strength .count {
  margin: 0;
  font-size: 40px;
  color: #fe6a38;
}

#strength .desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* =========== 优势 ============ */

.advantage .content {
  height: 800px;
}

.advantage h1.desc {
  width: 400px;
  color: #f8f8f8;
}

.advantage h1.desc span {
  font-size: 40px;
  color: #fbcd32;
}

.advantage p {
  color: #ccc;
}

#advantage_1 {
  position: relative;
  background: url(../img/advantage_bg.jpg) no-repeat top center;
}

#advantage_1 .content .box {
  width: 608px;
  height: 543px;
  background: url(../img/bg01-sc01_01.png) no-repeat bottom left;
  position: absolute;
  bottom: 0;
  left: -50px;
}

#advantage_1 .content .pic {
  position: absolute;
  display: block;
  width: 160px;
  height: 100px;
}

#advantage_1 .content .pic_left {
  left: 70px;
  top: 140px;
  background: url(../img/advantage_left.png) no-repeat;
}

#advantage_1 .content .pic_right {
  right: 140px;
  top: 95px;
  background: url(../img/advantage_right.png) no-repeat;
}

#advantage_1 .content .pic_top {
  position: absolute;
  width: 441px;
  height: 164px;
  top: -115px;
  background: url(../img/advantage_top.png) no-repeat;
}

#advantage_2 {
  position: relative;
  /* background: url(../img/advantage-bg03.jpg) no-repeat top center; */
}

#advantage_2 h1.desc {
  color: #424242;
}

#advantage_2 h1.desc span {
  color: #2fa0ff;
}

#advantage_2 p {
  color: #666;
}

#advantage_2 .pic_left {
  width: 330px;
  height: 373px;
  background: url(../img/bg04-sc02.png) no-repeat;
}

#advantage_2 .pic_right {
  margin-top: 100px;
  width: 428px;
  height: 519px;
  background: url(../img/bg04-sc01.png) no-repeat;
}

#advantage_3 {
  position: relative;
  background: url(../img/advantage-bg03.jpg) no-repeat;
}

#advantage_3 .pic_top {
  position: absolute;
  width: 608px;
  height: 732px;
  left: -70px;
  bottom: -5px;
  background: url(../img/bg03-sc01.png) no-repeat;
}

#advantage_3 .pic_bottom {
  position: absolute;
  width: 820px;
  height: 290px;
  left: -60px;
  bottom: 0;
  background: url(../img/bg03-sc02.png) no-repeat;
}

#advantage_3 h1.desc {
  width: 540px;
  color: #424242;
}

#advantage_3 h1.desc span {
  color: #d90100;
}

#advantage_3 p {
  color: #666;
}

/* =========== 名品展示 ============ */

#product .menu_bar {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  cursor: pointer;
}

#product .menu_bar.active {
  border: 1px solid #f8f8f8; 
  box-shadow: 1px 3px 3px #ccc;
}

#product .menu_bar img {
  display: block;
  margin: 15px auto 0;
}

#product .list {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#product .list .item {
  padding: 15px 0;
  margin-bottom: 10px;
  border-radius: 4px;
}

#product .list .item:hover {
  box-shadow: 0 0 8px #ccc;
}

/* =========== 媒体报道 ============ */

embed {
  margin-bottom: 10px;
}

/* =========== 联系我们 ============ */

.boxed-grey {
  background: #f8f8f8;
  padding: 20px;
}

form#contact-form .form-group label {
  display: block;
  text-align: left !important;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

form#contact-form input,
form#contact-form select,
form#contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #eee;
}

form#contact-form input:focus,
form#contact-form select:focus,
form#contact-form textarea:focus {
  border-color: #2fa0ff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

form#contact-form textarea {
  padding-bottom: 2px;
}

.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Microsoft YaHei,SimHei;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-skin {
  color: #fff;
  background-color: #2fa0ff;
  border-color: #2fa0ff;
}

.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

#contact .widget-contact .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding-top: 2px;
}

#contact .widget-contact .icon.phone {
  padding-top: 0;
}

#contact .widget-contact .tel {
    font-size: 18px;
}

#contact .widget-contact a:focus {
  outline: 0;
}

#contact .widget-contact .social-weixin {
  width: 100px;
}

#contact .item {
  padding: 20px;
  line-height: 1.6;
  border: 1px solid #2fa0ff;
}

#contact .item .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
}

#contact .item .item-img {
  max-width: 80px;
  margin: -10px 16px 0 0;
}

/* =========== 页脚 ============ */

footer {
  text-align: center;
  padding: 50px 0;
  background-color: #1a1a1a;
}

footer p.copyright {
  margin-bottom: 0;
}

footer span {
  font-size: 13px;
}

/* =========== 媒体适配 ============ */

@media(min-width: 768px) {
  .navbar {
    padding: 10px 0;
    border-top: 0;
    border-bottom: 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
}

@media(max-width: 767px) {
  .navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbar-custom li.active,
  .navbar-custom li:hover {
    background: rgba(255, 255, 255, .1);
  }

  #problem {
    display: none;
  }

  .advantage {
    display: none;
  }
}

@media(max-width: 480px) {
  .navbar-custom {
    background: rgba(26, 26, 26, 1);
  }

  .navbar-brand img {
    width: 118px;
  }

  #banner {
    margin-top: 51px;
  }

  .section-heading h2 {
    font-size: 22px; 
  }

  embed {
    height: 200px;
  }
}