/* =========== 导航栏 ============ */

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
}

.navbar-brand {
  height: 42px;
  padding: 9px 15px;
  font-size: 18px;
  line-height: 1em;
}

.navbar-brand:focus {
  outline: 0;
}

.icon-bar {
  background: #fff;
}

.navbar-custom {
  background: rgba(26, 26, 26, .8);

}

.navbar-custom .nav li a {
  color: #c8c8c8;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom li.active a {
  color: #fff;
}

.navbar-custom li a:hover {
  background: none;
  color: #fff;
}

.navbar-custom li a:focus {
  outline: 0;
}

.navbar-custom.top-nav-collapse {
  padding: 0;
  background: #1a1a1a;
}

.navbar-custom.top-nav-collapse li.active,
.navbar-custom.top-nav-collapse li:hover {
  background: rgba(255, 255, 255, .1);
}

/* =========== 轮播图 ============ */

.swiper-container {
  /* min-height: 30em; */
}

/* =========== commom ============ */

.home-section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  position: relative;
  z-index: 120;
}

.section-heading h2 {
  /* font-size: 40px; */
}

.bg-grey {
  background: #f8f8f8;
}

.bg-white {
  background: #fff;
}

/* =========== 商城服务 ============ */

#service .item {
   padding: 25px 15px;
   margin: 15px 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

#service .item:hover {
  background: #d5ecff;
}

#service .item .avatar img {
  display: inline-block;
}

#service .title {
  font-weight: 700;
  font-size: 16px;
}

/* =========== 企业实力 ============ */

#strength .count {
  margin: 0;
  font-size: 40px;
  color: #fe6a38;
}

#strength .desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* =========== 媒体适配 ============ */

@media(min-width: 768px) {
  .navbar {
    padding: 10px 0;
    border-top: 0;
    border-bottom: 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
}

@media(max-width: 767px) {
  .navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbar-custom li.active,
  .navbar-custom li:hover {
    background: rgba(255, 255, 255, .1);
  }
}

@media(max-width: 480px) {
  /* #banner {
    margin-top: 55px;
  } */
}